@using LiteBulb.RunLog.Dtos

@if (Positions == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="table-responsive">
		<table class="table table-sm table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Activity</th>
					<th>Time Stamp</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th>Altitude</th>
					<th>Accuracy</th>
					<th>Altitude Accuracy</th>
					<th>Heading</th>
					<th>Speed</th>
					<th><span class="d-none">Edit</span></th>
					<th><span class="d-none">Delete</span></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var position in Positions)
				{
					<tr>
						<td><a class="clickable" href="/activities/@position.ActivityId/positions/@position.Id">@position.Id</a></td>
						<td><a class="clickable" href="/activities/@position.ActivityId/positions/@position.Id">@position.ActivityId</a></td>
						<td><a class="clickable" href="/activities/@position.ActivityId/positions/@position.Id">@position.TimeStamp.ToShortTimeString()</a></td>
						<td><a class="clickable" href="/activities/@position.ActivityId/positions/@position.Id">@string.Format("{0:F7}", position.Latitude)</a></td>
						<td><a class="clickable" href="/activities/@position.ActivityId/positions/@position.Id">@string.Format("{0:F7}", position.Longitude)</a></td>
						<td><a class="clickable" href="/activities/@position.ActivityId/positions/@position.Id">@string.Format("{0:F1}", position.Altitude)</a></td>
						<td><a class="clickable" href="/activities/@position.ActivityId/positions/@position.Id">@string.Format("{0:F1}", position.Accuracy)</a></td>
						<td><a class="clickable" href="/activities/@position.ActivityId/positions/@position.Id">@string.Format("{0:F1}", position.AltitudeAccuracy)</a></td>
						<td><a class="clickable" href="/activities/@position.ActivityId/positions/@position.Id">@string.Format("{0:F1}", position.Heading)</a></td>
						<td><a class="clickable" href="/activities/@position.ActivityId/positions/@position.Id">@string.Format("{0:F1}", position.Speed)</a></td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<th>Id</th>
					<th>Activity</th>
					<th>Time Stamp</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th>Altitude</th>
					<th>Accuracy</th>
					<th>Altitude Accuracy</th>
					<th>Heading</th>
					<th>Speed</th>
					<th><span class="d-none">Edit</span></th>
					<th><span class="d-none">Delete</span></th>
				</tr>
			</tfoot>
		</table>
	</div>
}

@code {
	[Parameter]
	public IEnumerable<PositionDto> Positions { get; set; }
}
